/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(135deg, #007bff, #00c6ff);
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
}